// ADC

NET "ADC_P" LOC = "A4" | SLEW = FAST;
NET "ADC_N" LOC = "B4" | SLEW = FAST;

NET "DRY_P" LOC = "B10" | DIFF_TERM = TRUE;
NET "DRY_M" LOC = "A10" | DIFF_TERM = TRUE;

NET "L0_1_P" LOC="E9";
NET "L0_1_N" LOC="F9";
NET "L2_3_P" LOC="C11";
NET "L2_3_N" LOC="D11";
NET "L4_5_P" LOC="E11";
NET "L4_5_N" LOC="F11";
NET "L6_7_P" LOC="F12";
NET "L6_7_N" LOC="E12";
NET "L8_9_P" LOC="A13";
NET "L8_9_N" LOC="B13";
NET "L10_11_P" LOC="D14";
NET "L10_11_N" LOC="C14";
NET "L12_13_P" LOC="B14";
NET "L12_13_N" LOC="A14";
NET "L14_15_P" LOC="B16";
NET "L14_15_N" LOC="A16";
