NET "SWITCH<0>" LOC = "G18";
NET "SWITCH<1>" LOC = "H18";
NET "SWITCH<2>" LOC = "K18";
NET "SWITCH<3>" LOC = "K17";
NET "SWITCH<4>" LOC = "L14";
NET "SWITCH<5>" LOC = "L13";
NET "SWITCH<6>" LOC = "N17";
NET "SWITCH<7>" LOC = "R17";

